<h2>{{Title}}</h2>

<div class="container-add">
    
    <h2>Comments Section</h2>
    <!-- แบบฟอร์มสำหรับเพิ่ม/แก้ไขความคิดเห็น -->
    <form (ngSubmit)="submitComment()">
        <div>
            <label for="name">Name: </label>
            <input id="name" [(ngModel)]="name" name="name" required />
        </div>

        <div>
            <p><label for="comment">Comment: </label></p>
            <textarea id="comment" [(ngModel)]="comment" name="comment" required style="padding-top: 0;"></textarea>
        </div>

        <button type="submit">{{ editIndex !== null ? 'Update' : 'Submit' }}</button>
    </form>
</div>

<div class="container-list">
    <!-- แสดงรายการความคิดเห็น -->
    <h3>Comment List</h3>
    <div *ngFor="let comment of comments; let i = index" class="comment-item">
        <p>
            <strong>{{ comment.name }} :</strong> {{ comment.time }}
            <br />
            {{ comment.comment }}
        </p>
        <button (click)="editComment(i)">Edit</button>
        <button (click)="deleteComment(i)">Delete</button>
    </div>
</div>